<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="sp: ${vspecialties}">
      <td th:text="${sp.id}">0</td>
      <td th:text="${sp.name}">-</td>
    </tr>
  </tbody>
</table>

</body>
</html>